
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root{
    --text-color: white;
    --hover-color: pink;
    --bg-color: rgb(145, 115, 120);
    --secon-bg-color:#292e33;
    --big-font:2.5rem;
    --normal-font:2rem;
    --neon-box-shadow:0.0 .5rem pink;
    --h2-font:3rem;
    --main-color: rgb(187, 138, 146);
    --font-neon-text-shadow:0 0 10px rgb(145, 115, 120),
    0 0 20px rgb(145, 115, 120),
    0 0 30px rgb(145, 115, 120),
    0 0 40px rgb(145, 115, 120),
    0 0 70px rgb(145, 115, 120),
    0 0 80px rgb(145, 115, 120),
    0 0 100px rgb(145, 115, 120),
    0 0 150px rgb(145, 115, 120); 
}

::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: var(--secon-bg-color);
}

::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: 5rem;
}


body{
    font-family: "Poppins", sans-serif;
    background-color: rgba(8, 8, 8, 0.63);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    background:  rgb(145, 115, 120);
}
header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid var(--secon-bg-color);
    padding: 12px 10%;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color:var(--hover-color) ;
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}

.navlist a:hover {
    color: var(--hover-color);
    text-shadow: 0 0 10px rgb(145, 115, 120),
    0 0 20px rgb(145, 115, 120),
    0 0 30px rgb(145, 115, 120),
    0 0 40px rgb(145, 115, 120),
    0 0 70px rgb(145, 115, 120),
    0 0 80px rgb(145, 115, 120),
    0 0 100px rgb(145, 115, 120),
    0 0 150px rgb(145, 115, 120);
}

.navlist a.active{
    color: var(--hover-color);
}

#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}

.menu-box{
    width: fit-content;
    height: auto;
    background-color: pink;
    margin: 10px 8px;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: column;
    
}

.menu-box div {
    width: 100%;
    height: 3px;
    background-color: pink;
}

.line1, .line2, .line3{
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 50px;
}
.active .line1{
    transform: translate(0px, 15px)rotate(45deg);
}
.active .line2{
    transform: translate(0px, 15px)rotate(45deg);
    opacity: 0;
}
.active .line3{
    transform: translate(0px, -15px)rotate(-45deg);
}


section{
    padding: 100px 10%;
}

.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap:4em;
    background: rgba(8, 8, 8, 0.63);
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: var(--big-font);
    font-weight: 700;
}

.change-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
}

.change-text h3 .word .letter{
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0,7,0.2);
}
.change-text h3 .word .letter.in{
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}

.home-content p{
    color: white;
    line-height: 1.6;
}

.info-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 1rem 0 2rem;
}

.info-box h5{
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.info-box span{
    font-size: .9rem;
    color: rgb(145, 115, 120);
}

.btn-box{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}

.btn-box .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}

.btn:hover{
    color: var(--hover-color);
}

.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btn:hover::before{
    width: 100%;
}

.btn:nth-child(2){
    background: var(--bg-color);
    color: var(--hover-color);
}

.btn:nth-child(2):hover{
    color: var(--bg-color);
}

.btn:nth-child(2)::before{
    background: var(--hover-color);
}

.social-icons{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 40px;
}

.social-icons a{
    display: inline-flex;
    width: 50px;
    height: 100%;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem plum;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.social-icons a i{
    font-size: 1.5rem;
}

.social-icons a:hover{
    color: var(--bg-color);
}

.social-icons a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;
}

.social-icons a:hover::before{
    width: 100%;
}

.home-image{
    position: relative;
}

.img-box{
    text-align: center;
}
.img-box img{
    width: 100%;
    max-width: 350px;
    height: auto;
}

.liquid-shape{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: -8%;
}

.liquid-shape:nth-child(2){
    filter: blur(2px);
}

/***********************about section css******************/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap:2em;
    background:  rgba(8, 8, 8, 0.63);
}

.about .img-about{
    text-align: center;
    position: relative;
}

.about .img-about img{
    max-width: 400px;
    height: auto;
    border-radius: 50%;
}
.about-content span{
    color: white;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content h2{
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font); 
}

.about-content h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.about-content p{
    color: white;
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.info-about1,
.info-about2,
.info-about3 {
    background: var(--bg-color);
    font-size: 0.4rem;
    position: absolute;
    padding: 10px;
    width: 62px;
    height: 52px;
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1px solid var(--hover-color);
    outline: 2px solid var(--bg-color);
    z-index: 100;
    animation: morph 6s linear infinite;
}

.info-about1{
    left: 10%;
    top: 40%;
}

.info-about2{
    left: 66%;
    top: 15%;
}

.info-about3{
    left: 61%;
    top: 90%;
}

.img-about span{
    color: var(--hover-color);
    font-size: 1rem;
    font-weight: 500;
}

/**********services section css*********/

.portfolio{
    padding-bottom: 10rem;
    background:  rgb(145, 115, 120);
}

.portfolio h2{
    margin-bottom: 4rem;
    text-align: center;
    color: pink;
}
.portfolio .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    overflow: hidden;
}
.portfolio-box img{
    width: 100%;
    transition: scale(1.1); 
}
.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), var(--main-color));
    color: var(--hover-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}
.portfolio-layer h4{
    font-size: 1.5rem;
}
.portfolio-layer p{
    font-size: 0.8rem;
    margin: .3rem 0 1rem; 
}
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--main-color);
    border-radius: 50%; 
}
.portfolio-layer a i{
    font-size: 2rem;
    color: #333;
}


/******************skilss section*******************/
  .skills {
      padding: 50px 0;
      text-align: center;
      background:  rgba(8, 8, 8, 0.63);
    }

    .heading {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: white;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .bar {
      flex: 1 1 21%; /* Flex-grow, flex-shrink, flex-basis */
      box-sizing: border-box;
      margin: 10px;
      background: rgb(145, 115, 120);
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
      transition: transform 0.2s;
    }

    .bar:hover {
      transform: translateY(-10px);
    }

    .info img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      margin-bottom: 10px;
    }

    .info span {
      display: block;
      font-size: 1.2em;
      color: #333;
    }

    /* Media Queries */
    @media (max-width: 1024px) {
      .bar {
        flex: 1 1 30%;
      }
    }

    @media (max-width: 768px) {
      .bar {
        flex: 1 1 45%;
      }
    }

    @media (max-width: 480px) {
      .bar {
        flex: 1 1 100%;
      }
    }


 /********************contact section css***************************/
 .contact{
    background:  rgba(8, 8, 8, 0.63);
    width: 100%;
 }
 /**

 form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
label {
    display: block;
    margin-bottom: 15px;
}
label span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
textarea {
    resize: vertical;
    height: 100px;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
 /**/
 .contact .main-text{
    text-align: center;
 }

 .contact form{
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
 }
 
 .contact form input,
 .contact form textarea{
    width: 100%;
    background: white;
    margin-bottom: .8rem;
    border-radius: 5px;
    padding: .7rem;
    color: black;
 }

 .contact form textarea {
       resize: none;
 }
 .formBtn{
    display: flex;
    justify-content: center;
    width: 100%;
 }
 .formBtn .btn{
    cursor: pointer;
    font-size: 1rem;
 }

 /*footer css*/
 footer{
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  rgb(145, 115, 120);
 }

 footer p{
    color: white;
 }

 footer a{
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
 }

 footer a i{
    font-size: 1rem;
    color: var(--secon-bg-color);
 }


/*paxallax***************************/
.scroll-scale{
    opacity: 0;
    transform: all 2s;
}
.scroll-bottom{
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;
}

.scroll-top{
    opacity: 0;
    transform: translateY(-300px);
    transition: 3s;
}
.show-items{
    opacity: 1;
    transform: translateX(0);
}





@keyframes morph{
    0%,
    100%{
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    30%{
       border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%; 
    }
    60%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    80%{
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%; 
    }
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes nodejs{
    0%{
        width: 0%;
    }
    100%{
        width: 62%;
    }
}

@keyframes reactjs{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}

@keyframes glow{
    0%{
        background: var(--bg-color);
        box-shadow: none;
    }
    100%{
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}



/* break points*/
@media(max-width:991px){
    header,
    header.sticky{
        padding: 15px 5%;
    }
    footer{
        padding: 15px 5%;
    }
    section{
        padding: 50px 5%;
    }
    .navlist a{
        padding: 8px 15px;
    }
    :root{
        --big-font: 2.2rem;
        --normal-font: 1.8rem;
        --neon-box-shadow:0.0 .8rem pink;
        --h2-font:3rem;
    }

    .home-content {
        margin-top: 5rem;
    }
    .social-icons{
        margin-top: 2rem;
    }
}

@media(max-width:768px) {
    #menu-icon{
        display: block;
        transition: all .4s ease;
    }

    #menu-icon.bx-x{
        transform: rotate(-180deg);
    }

    .navlist{
        display: flex;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        padding: 0 5%;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
    .navlist.open{
        top: 100%;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .home-image{
        margin-bottom: 5rem;
    }
    .liquid-shape{
        width: 80%;
        left: 12%;
        top: 13%;
    }
    .about{
        flex-direction: column-reverse;
    }
    .skill-main{
        grid-template-columns: 1fr;
    }
    .fillter-buttons{
        margin: 2.5rem 0;
    }
    footer p{
        font-size: .8rem;
    }
}

@media(max-width:420px){
    html{
        font-size:80%;
    }
    footer p{
       font-size: .6rem; 
    }
    .fillter-buttons .btn{
        font-size: .8rem;
    }
    .img-about img{
        width: 300px;
    }
    .info-about1,.info-about2,.info-about3{
        display: none;
    }
    .img-about p{
        font-size: 1rem;
    }
}


